 #questions {
  display: none;

}
p{
  color: green;
  font-size: 20px;
  text-align: left;

}
.jumbotron{
  background-color: yellow;
  text-align: center;
  font-family: sans-serif;
}
}
.well{
  background-color: red;
  font-family: sans-serif;
  border-radius: 50%;
}
#submit{
  float: left;
  border-radius: 20px;
  border-color: black;
}
#reset{
  float: right
}
#result{
  float: right;
  border-radius: 20px;
  border-color: black;
}
#button{
  border-radius: 20px;
}
