 #Questions {
  display: none;

}
p{
  color: black;
  font-size: 20px;
  text-align: left;
}
.jumbotron{
  background-color: tan;
  text-align: center;
  font-family: sans-serif;
}
}
.well{
  background-color: red;
  font-family: sans-serif;
  font-style: italic;
  cursor: pointer;
}
#submit{
  float: left;
}
#reset{
  float: right;
}
